# Copyright (c) 2023-2024 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_CH32V
	bool
	select RISCV
	select RISCV_PRIVILEGED
	select INCLUDE_RESET_VECTOR
	select ATOMIC_OPERATIONS_C

config SOC_FAMILY
	default "ch32v" if SOC_FAMILY_CH32V

rsource "*/Kconfig.soc"
